<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <solution>
      <add key="disableSourceControlIntegration" value="true" />
   </solution>
   <packageSources>
      <clear/>
      <add key="Nuget official v3" value="https://api.nuget.org/v3/index.json" />
      <add key="Flexigroup-Universe" value="#{Flexigroup_Universe_artifacts_url}" />
   </packageSources>
   <packageSourceCredentials>
      <Flexigroup-Universe>
         <add key="Username" value="#{Flexigroup_artifacts_user}" /> 
         <add key="ClearTextPassword" value="#{Flexigroup_artifacts_user_token}" />
      </Flexigroup-Universe>
   </packageSourceCredentials>
</configuration>
